body {
    /* background-color: rgb(24, 26, 27); */
    /* font-family: 'Roboto'; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Roboto'; */
    /* color: rgb(209, 205, 199); */
}

.chat_area {
    overflow: auto;
    max-height: 600px;
}

.user_li_group {
    max-height: 600px;
    overflow: auto;
}

.user_li {
    padding: 5px;
}

.main_container h3 {
    padding: 0 10px 0 10px;
}

.channel_user_list ul {
    list-style: none;
}

.channel_main {
    /* background-color: #d7d7d7;
    color: #000; */
    min-height: 100%;
}